<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <div class="login">
        <div class="head">myapp 后台管理</div>
        <form action="onlogin" method="post">
            <ul>
                <li><label>用户名</label><input name="username" type="text" required/></li>
                <li><label>密  码</label><input name="password" type="password" required/></li>
                <li><input type="submit" value="登陆"/></li>
            </ul>
        </form>
    </div>

    <script type="text/javascript">
        <%if(msg){%>
            alert("<%=msg%>");
        <%}%>
    </script>
</body>
</html>
